body {
  background: rgba(204, 208, 208, 0.701);

}

.rec-dot_active {
  background-color: rgb(100, 101, 101)!important;
  box-shadow: 0 0 1px 3px rgb(111, 111, 111)!important;
}

.rec-dot:focus,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px rgb(160, 160, 160)!important;
}

.rec-dot_active:focus,
.rec-dot_active:hover {
  background-color: rgb(111, 110, 110) !important;
  box-shadow: 0 0 1px 3px rgb(106, 105, 105) !important;
}

.rec-arrow {

  background-color: rgb(63, 62, 62) !important;
  transition: all 0.3s ease;
  font-size: 1.1rem !important;
  color: white !important;
  width: 1.7rem !important;
  height: 1.7rem !important;
  min-width: 1.7rem !important;
  line-height: 1.7rem !important;

}

.rec-arrow:hover:not(:disabled) {
  transform: scale(1.2);
}

.wrapper {
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 1000px;
  height: 100px;
  position: relative;
  background: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}

.slide {
  height: 100px;
  display: flex;
  align-items: center;
  animation: slideshow 8s linear infinite;
}

.slide img {
  height: 70px;
  padding: 0 30px 0 30px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slider::before,
.slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}